<h3><i class="fa fa-coffee"></i>&nbsp;&nbsp; Действия</h3>
<br />
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <a data-bind="click: save" class="btn btn-info" href="javascript:;"><i class="fa fa-save"></i> Сохранить</a>
            <a data-bind="click: cancel" class="btn yellow" href="javascript:;"><i class="fa fa-mail-reply"></i> Отмена</a>
        </div>
    </div>
</div>