<div class="ko-spinner2" style="">
    <div class="spinner-input" style="">
        <input data-bind="value: value, event: { change: changed }, numeric: {}" type="text" class="form-control">
    </div>
    <div class="spinner-btns">
        <div data-bind="clickHold: up" class="item-up btn-info">
            <i class="fa fa-sort-asc"></i>
        </div>
        <div data-bind="clickHold: down" class="item-down btn-info">
            <i class="fa fa-sort-desc"></i>
        </div>
    </div>
</div>
