<div data-bind="css: { 'has-error': hasErrors }" class="form-group">
    <label data-bind="text: title" class="control-label"></label>
    <select data-bind="options: avaliableValues, optionsText: 'Text', optionsValue: 'Value', value: value, optionsCaption: placeholder, event: { change :change }" class="form-control"></select>
    <span data-bind="text: errorsText" class="help-block hidden-if-no-error">
    </span>
</div>