
<div class="row">
    <div class="col-md-12">
        <!-- ko with: rangeSlider -->
        @Html.Partial("Controls/Fields/RangeSlider")
        <!-- /ko -->
    </div>
</div>
<div class="row ">
    <div class="col-md-6">
        <!-- ko with: min -->
        @Html.Partial("Controls/Fields/Spinner")
        <!-- /ko -->
    </div>
    <div class="col-md-6">
        <!-- ko with: max -->
        @Html.Partial("Controls/Fields/Spinner")
        <!-- /ko -->
    </div>
</div>
