
<div class="form-group range-slider">
    <label data-bind="text: title" class="control-label"></label>
    <div data-bind="slider: { min:min, max:max, step: step, values: [minValue, maxValue] }" class="slider bg-blue"></div>
</div>
