<div class="form-group">
    <textarea data-bind="value: value, valueUpdate: 'afterkeydown', attr: { placeholder: placeholder }, inputMask: mask, event : { keyup: change }" class="form-control" rows="12"></textarea>
    <span data-bind="text: errorsText" class="help-block hidden-if-no-error">
        This is inline help
    </span>
</div>