// ordinary devices
@media (min-width: 992px) {

    .select-dropdown {



        .drop-area {
            width: 100%;
            position: relative;
            z-index: 99999;
            background-color: black;

            .drop-area-inner > div {
                display: table-cell;
                padding-right: 5px;
            }

            .drop-area-inner {
                width: 100%;
                position: absolute;
                right: 0px;
                left: 0px;
                top: 0;
                display: table;
                padding-right: 36px !important;

                .country-cell {
                }

                .region-cell {
                    width: 61%;
                }
            }
        }
    }
}

// mobile devices
@media (max-width: 992px) {
    .drop-area-inner > div {
        padding-left: 3px;
        padding-right: 3px;
    }
}

// all devices
.select-dropdown {

    .result-block {
        width: 100%;
        display: table;
        height: 34px;

        .input-wrapper {
            width: 100%;
            display: table-cell;
            opacity: 0.5;
            vertical-align: top;
        }

        .drop-button-wrapper {
            background-color: blue;
            display: table-cell;
            float: right;
            height: 34px;
        }
    }

    .drop-area {

        .drop-area-inner {
            padding: 6px;
            background-color: #cfcdd3;


            .accept-cell {
                width: 0px !important;
                height: 0px !important;
                position: relative !important;

                a {
                    position: absolute;
                }
            }
        }
    }
}
