<div data-bind="visible: visible">
    <div class="search-area col-md-2 title-fix">
        @Html.Partial("Controls/EditActionsBlock")
    </div>
    <div class="table-area col-md-10 title-fix">
        <h3>
            <i class="fa fa-edit"></i>
            <span data-bind="text: title" class="title-span"></span>
        </h3>
        <br />
        <div class="scrolling-area">



            <!-- ko with: fields -->
            <div class="row">
                <div class="col-md-12">
                    <!-- ko with: Code -->
                    @Html.Partial("Controls/Fields/EditTextField")
                    <!-- /ko -->
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <!-- ko with: Client -->
                    @Html.Partial("Controls/Fields/Dropdown")
                    <!-- /ko -->
                </div>
            </div>
            <!-- /ko -->
            <!-- ko with: table -->
            <div class="row">
                @Html.Partial("Controls/Table/OrderItemsTable")
            </div>
            <!-- /ko -->


        </div>
    </div>
</div>
