<div data-bind="visible: visible">
    <div class="search-area col-md-2 title-fix">
        @Html.Partial("Controls/EditActionsBlock")
    </div>
    <div class="table-area col-md-10 title-fix">
        <h3>
            <i class="fa fa-edit"></i>
            <span data-bind="text: title" class="title-span"></span>
        </h3>
        <br />
        <!-- ko with: fields -->

        <div class="row">
            <div class="col-md-12">
                <!-- ko with: Number -->
                @Html.Partial("Controls/Fields/Spinner")
                <!-- /ko -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <!-- ko with: Building -->
                @Html.Partial("Controls/Fields/EditTextField")
                <!-- /ko -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <!-- ko with: PostalCode -->
                @Html.Partial("Controls/Fields/EditTextField")
                <!-- /ko -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <!-- ko with: Street -->
                <div data-bind="css: { 'has-error': hasErrors }" class="form-group select-dropdown">
                    <!-- ko with: selectedField -->
                    <label class="control-label">Город</label>
                    <div class="result-block">
                        <div class="input-wrapper">
                            <input data-bind="value: value, attr: { 'placeholder': placeholder }" type="text" class="form-control" readonly="readonly" />
                        </div>
                        <div data-bind="click: $parent.clickDropDown" class="drop-button-wrapper">
                            <a href="javascript:;" class="btn btn-icon-only btn-default">
                                <i class="fa fa-chevron-down"></i>
                            </a>
                        </div>
                    </div>
                    <!-- /ko -->

                    <div data-bind="visible: dropAreaVisible, click: clickInside" class="drop-area">
                        <div class="drop-area-inner" style="">
                            <div style="width: 25%">
                                <!-- ko with: countries -->
                                <select class="form-control"
                                        data-bind="options: avaliableValues, optionsText: 'Text', optionsValue: 'Value', value: value, optionsCaption: placeholder, event: { change: change }"></select>
                                <!-- /ko -->
                            </div>
                            <div style="width: 25%">
                                <!-- ko with: regions -->
                                <select class="form-control" data-bind="options: avaliableValues, optionsText: 'Text', optionsValue: 'Value', value: value, optionsCaption: placeholder, event: { change: change }"></select>
                                <!-- /ko -->
                            </div>
                            <div style="width: 25%">
                                <!-- ko with: cities -->
                                <select class="form-control" data-bind="options: avaliableValues, optionsText: 'Text', optionsValue: 'Value', value: value, optionsCaption: placeholder, event: { change: change }"></select>
                                <!-- /ko -->
                            </div>
                            <div style="width: 25%">
                                <!-- ko with: streets -->
                                <select class="form-control" data-bind="options: avaliableValues, optionsText: 'Text', optionsValue: 'Value', value: value, optionsCaption: placeholder"></select>
                                <!-- /ko -->
                            </div>
                            <div class="accept-cell">
                                <a data-bind="click: accept" href="#" class="btn btn-icon-only btn-primary">
                                    <i class="fa fa-check"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <span data-bind="text: errorsText" class="help-block hidden-if-no-error">
                    </span>
                </div>
                <!-- /ko -->
            </div>
            <!--/span-->
            <!--/span-->
        </div>
        <!-- /ko -->
    </div>
</div>
