<div class="col-md-6">
    <div class="form-group">
        <label class="control-label col-md-4">Товар</label>
        <div class="col-md-8">
            <select class="form-control"></select>
            <span class="help-block">
                This is inline help
            </span>
        </div>
    </div>
</div>